html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}

dd {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}

textarea {
    height: 150px;
}

@import "bootstrap";

.navbar, .navbar-expand-lg, .navbar-dark, .bg-primary {
    color: #96C11E !important;
    background-color: #96C11E !important;
}

.btn, .btn-primary {
    background-color: #04A64B !important;
}

.btn, .btn-danger {
    background-color: #F0856A !important;
}